*{
    margin: 0;padding: 0;
    font-family: "Roboto", sans-serif;
    
  font-style: normal;
  
}
/* .border {
    border: 2px solid red;
    margin: 3px;
} */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded{
    border-radius: 8px;
}

.m-1{
    margin: 8px;
}

.logo{
    padding: 10px;
}
.logo img{
    width: 100px;
}
.p-1{
    padding: 10px;
}
.border{
    border: 2px solid red;
}
.footer{
    display: flex;
    font-size: 10px;
    font-weight: 700;
    color: gray;
    gap: 12px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}
.footer a{
    color: gray;
    font-size: 10PX;
    font-weight: 700;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #343434;
    height: 65px;
}
.header > *{
    padding: 20px;
}
.spotifyPlaylists{
    padding: 6px 10px; 
}
.spotifyPlaylists h1{
    font-size: 24px; 
    padding: 16px 0;
}




/* Width */
::-webkit-scrollbar {
    width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; /* Dark gray */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666; /* Medium gray */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; /* Light gray */
  }
  